.customHtmlStyles {

    h1,
    h2,
    h3,
    h4,
    h5 {
        color: white;
        border-bottom-width: 1px;
        border-bottom-color: #404040;
    }

    h1 {
        font-size: 32px;
        font-weight: 450;
        margin-top: 24px;
        margin-bottom: 12px;
    }

    h2 {
        font-size: 24px;
        font-weight: 450;
        margin-top: 20px;
        margin-bottom: 6px;
    }

    h3 {
        font-size: 20px;
        font-weight: 450;
        margin-top: 16px;
        margin-bottom: 6px;
    }

    h4,
    h5 {
        margin-top: 16px;
        margin-bottom: 6px;
    }
    a {
        color: #c4b5fd;
    }

    a:hover {
        color: #8b5cf6;
    }

    u,
    ol,
    li,
    p {
        color: #d4d4d4;
    }

    ul,
    ol {
        margin-left: 24px;
        margin-top: 12px;
        margin-bottom: 12px;
        padding-left: 24px;
    }

    ul {
        list-style-type: circle;
    }

    ol {
        list-style-type: decimal;
    }

    li {
        margin-bottom: 4px;
    }

    pre {
        color: #a3a3a3;
        background: #0a0a0a;
        overflow: scroll;
        padding: 0.75rem;
        border-radius: 0.75rem;
        margin: 12px;
    }

    pre::-webkit-scrollbar {
        display: none;
    }
}